<div class="wrapper-content">
  <div class="wrapper-btn">
    <div class="wrapper-btn-item">
      <button class="component1-btn" (click)="delayOf200()">
        multiplied by 3
      </button>
      <div class="wrapper-value">
        <div class="mulBy3" *ngFor="let el of valueFlowsDelayOf200">
          {{ el }}
        </div>
      </div>
    </div>

    <div class="wrapper-btn-item">
      <button class="component1-btn" (click)="newFlowElements ()">new flow elements</button>

      <div class="wrapper-value">
        <div class="mulBy3" *ngFor="let el of valueNewFlowElements">
          {{ el }}
        </div>
        <!-- <div class="mulBy3" *ngFor="let el of valueTest">{{ el }}</div> -->
      </div>
    </div>
    <button class="component1-btn" (click)="test()">TEST</button>
    <div class="mulBy3" *ngFor="let el of valueTest">{{ el }}</div>

  </div>
</div>
