.wrapper-header {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
  margin: 0 30px 0 0;
}

ul {
  display: flex;
}

a {
  text-decoration: none;
}

.nav-item {
  border-color: #a6d2f0;
  color: #c94341;
  box-shadow: 0 0 40px 40px #a6d2f0 inset, 0 0 0 0 #a6d2f0;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  width: 200px;
  height: 50px;
  margin: 10px 0 10px 0;
  border-radius: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-item:hover {
  box-shadow: 0 0 10px 0 #a6d2f0 inset, 0 0 10px 4px #a6d2f0;
  color: #307fb4;
  cursor: pointer;
}
